h1, h2, h3 {
    color: brown;
    text-align: center;
    text-transform: capitalize;
}

#qrcode{
            margin: 0 auto;
            width: 200px;
        }


#starbucks img {
    width: 100px;
    height: 100px;
    padding-bottom:10px;
}


#dd img{
    width:100px;
    height:100px;
    padding-bottom:10px;
}

#pb img{
    width:150px;
    height:100px;
    padding-bottom:10px;
}

#starbucks{
    padding-top: 10px;
    padding-bottom:5px;
    border-radius: 5px;
    background-color: lightgrey;
}

#dd{
    padding-top: 10px;
    padding-bottom:5px;
    border-radius:5px;
    background-color: lightgrey;
    margin-top:10px;
}
#pb{
    padding-top:10px;
    padding-bottom: 5px;
    border-radius: 5px;
    background-color: lightgrey;
    margin-top: 10px;
}
#SeeAll{
    padding-top: 10px;
    margin-top:15px;
    border-top: 3px solid lightgrey;
}
#btn{
    cursor: hand;
    margin-left:40%;
}
#zara img{
    width:150px;
    height:150px;
    padding-top:10px;
    margin-top:15px;
}
#wf img{
    width:150px;
    height:150px;
    padding-top:10px;
    margin-top:15px;
}

#tjmaxx img{
    width:150px;
    height:150px;
    padding-top:10px;
    margin-top:15px;
}
#panera img
{
    width:150px;
    height:150px;
    padding-top:10px;
    margin-top:15px;
}
#uniqlo img{
    width:150px;
    height:100px;
    padding-top: 10px;
    margin-top:15px;
}

.img-thumbnail{
    height:150px;
    width:150px;
    position: relative;
    display: inline-block;
    margin-bottom:10px;
}
