/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v6/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
body {
    font-family: 'Montserrat', sans-serif;
    color: #894700;
    background-color: #efefef;
}

a {
    display: block;
    text-align: center;
}

form a {
    color: #894700;
}

hr {
    border-top: 3px solid #efefef;
    width: 100%;
}

/*brown for c all and redeam rewards */
.other-brown {
color: #894700;    
}
.form-control {
    border-radius: 0;
    border: none;
    box-shadow: 1px 1px 2px -2px #000;
}

.card {
    padding: 20px;
    background-color: white;
    border-radius: 30px;
}

.btn {
    border-radius: 0;
    border: none;
    display: block;
    width: 100%;
    color: white;
}
.btn-primary {
    background-color: #BF1B00;
}
.page {
    display: none;
}

h1, h2, h3 {
    color: brown;
    text-align: center;
    text-transform: capitalize;
}
.navbar{
    background-color: #016f51;

}


#qrcode{
    margin: 0 auto;
    width: 200px;
}

#fb{
   width:300px;
   height:75px;
}
.btn-fb {
    background-color: #3D5A98;
}
#or{
    margin-top:10px;
    font-size: medium;
    color: brown;
}

#forgotpwd{
    margin-top:5px;
    margin-left:35%
}
#starbucks img {
    width: 100px;
    height: 100px;
    padding-bottom:10px;
}


#dd img{
    width:100px;
    height:100px;
    padding-bottom:10px;
}

#pb img{
    width:150px;
    height:100px;
    padding-bottom:10px;
}

#starbucks{
    padding-top: 10px;
    padding-bottom:5px;
    border-radius: 5px;
    background-color: lightgrey;
}

#dd{
    padding-top: 10px;
    padding-bottom:5px;
    border-radius:5px;
    background-color: lightgrey;
    margin-top:10px;
}
#pb{
    padding-top:10px;
    padding-bottom: 5px;
    border-radius: 5px;
    background-color: lightgrey;
    margin-top: 10px;
}
#SeeAll{
    padding-top: 10px;
    margin-top:15px;
    border-top: 3px solid lightgrey;
}
#btn{
    cursor: hand;
    margin-left:40%;
}
#zara img{
    width:150px;
    height:150px;
    padding-top:10px;
    margin-top:15px;
}
#wf img{
    width:150px;
    height:150px;
    padding-top:10px;
    margin-top:15px;
}

#tjmaxx img{
    width:150px;
    height:150px;
    padding-top:10px;
    margin-top:15px;
}
#panera img
{
    width:150px;
    height:150px;
    padding-top:10px;
    margin-top:15px;
}
#uniqlo img{
    width:150px;
    height:100px;
    padding-top: 10px;
    margin-top:15px;
}

.img-thumbnail{
    height:150px;
    width:150px;
    position: relative;
    display: inline-block;
    margin-bottom:10px;
}

#strbx{
    border-bottom: 2px solid lightgrey;
}
#strbx_logo{
    margin-top:10px;
    margin-bottom:15px;
}
#strbx_rewards{
    margin-top:10px;
}

#strbx_img{
    margin-top:130px;
    width:160px;
    height:160px;
    padding-bottom: 10px;
    margin-bottom:10px;
}


.tips{
    width:340px;
    height:150px;
    border-radius:10px;
    border:1px transparent;
    background-color: lightgrey;
}

#tip_heading{
    margin-top:5px;
    margin-bottom:5px;
    padding-top:10px;
    padding-bottom:10px;
    border-bottom: 1px solid black;

}
#tips_strbx p{
    padding-top:20px;
    font-size: large;
    text-align: center;
    font-family: cursive;
    font-weight: bold;
    padding-bottom:30px;
}

#strbx_progress{
    margin-top: 15px;
    padding-top:15px;
}

